# Ignore all files but specified
*

!README.md
!LICENSE
!.gitignore

!.bashrc

# Custom Scripts
!.scripts
!.scripts/**

# Config files
!.config/kitty
!.config/kitty/**

!.config/nvim
!.config/nvim/**
