# Ignore all files but specified
*

!README.md
!LICENSE

!.bashrc

# Custom Scripts
!.scripts
!.scripts/**

# Fonts
!.fonts
!.fonts/**

# Config files
!.config

!.config/kitty
!.config/kitty/**

!.config/nvim
!.config/nvim/**

!.config/hypr
!.config/hypr/**
