[user]
	name = TacticalMinky
	email = mink91094@gmail.com
[credential]
    helper = store
[alias]
	prune-branches = !git fetch -p && git branch -vv | grep ': gone]' | grep -v '\\*' | awk '{print $1}'
